<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive Time Series Imaging</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<div class="left-column">
    <h2><b>Interactive Time Series Imaging</b></h2>
    <br>
    <p>Draw a curve with increasing x-values in the right panel. The imaging may take a few seconds.</p>
    <br>
    <label for="imaging"><b>Imaging Method:</b></label>
    <select id="imaging" onchange="changeImaging()">
        <option value="gasf">Gramian Angular Summation Field</option>
        <option value="gadf">Gramian Angular Difference Field</option>
        <option value="mtf8">Markov Transition Field (8 bins)</option>
        <option value="mtf16">Markov Transition Field (16 bins)</option>
    </select>

    <label for="colormap"><b>Color Map:</b></label>
    <select id="colormap" onchange="updatePlot()">
    </select>

    <div style="flex-grow: 1;"></div>

    <p>References:</p>
    <ul>
        <li style="font-size: 80%;"><small>Vortmann et al. (2022). <i>Multimodal EEG and Eye Tracking Feature Fusion
            Approaches for Attention Classification in Hybrid BCIs.</i> Frontiers in Computer Science.</small></li>
        <li style="font-size: 80%;"><small>Vortmann et al. (2021). <i>Imaging Time Series of Eye Tracking Data to
            Classify Attentional States.</i> Frontiers in Neuroscience.</small></li>
        <li style="font-size: 80%;"><small>Wang and Oates (2015). <i>Imaging Time-Series to Improve Classification and
            Imputation.</i> IJCAI.</small></li>
        <li style="font-size: 80%;"><small>Wang and Oates (2015). <i>Encoding Time Series as Images for Visual
            Inspection and Classification Using Tiled Convolutional Neural Networks.</i> AAAI Workshop.</small></li>
    </ul>

    <a href="https://github.com/xysLong/interactive-time-series-imaging"
       target="_blank"
       style="text-decoration: none; color: #3498db; font-weight: bold;">
        GitHub repository
    </a>
</div>
<div class="right-column">
    <canvas id="curveCanvas" height="200"></canvas>
    <div id="plotContainer"></div>
</div>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>